@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	overflow-x: hidden;
}

.header{
	position: relative;
	display: flex;
	width: 100%;
	height:60vw;
	margin: auto;
	background:white;
	z-index: 200;
}

.header-top{
	position: fixed;
	top:30px;
	left:5%;
	z-index: 202;
}

.header-logo img{
	z-index: 203;
	width:60%;
	height: auto;
}

/*ドロワーメニュー*/
.drawer{
  z-index: 202;
  position:fixed;
  top:30px;
  right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  width:35px;
  height: 35px;

}

#drawer-check{
display: none;
}

#drawer-open span{
	display: flex;
	align-items: center;
  z-index: 202;
  position:absolute;
  cursor: pointer;
  top:0px;
  left:0px;
  content:"";
  width:25px;
  border-top:solid 4px;
  color: white;
  transition: all .5s;
}

.drawer:after{
	z-index: 203;
	content:"MENU";
	position: absolute;
	transform: translateX(30px);
	font-size: 12px;
	color:white;
}

#drawer-close{
	position: fixed;
	width:100%;
		height: 200vh;
	background: black;
	opacity: .7;
	transform: translateX(100%);
	transition: ease .1s;
	pointer-events: none;
}

#drawer-open span:nth-of-type(1){
top:8px;
}

#drawer-open span:nth-of-type(2){
top:15px;
}

#drawer-open span:nth-of-type(3){
top:22px;
}

#drawer-open.active span:nth-of-type(1){
  top:50%;
transform: rotate(-25deg);
}

#drawer-open.active span:nth-of-type(2){
opacity: 0;
}

#drawer-open.active span:nth-of-type(3){
top:50%;
transform: rotate(25deg);
}

#drawer-check:checked~.drawer-menu{
  transform:translateX(0%)translateY(10%);
}

#drawer-check:checked~#drawer-close{
  transform:translateX(-50%)translateY(10%);
}

.drawer-menu{
  z-index: 100;
  position:fixed;
  width:60%;
	height: 200vh;
margin: auto;
padding: 50px 0px;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items:flex-start;
transform:translateX(100%)translateY(10%);
transition: .3s;
background: black;
}

.g-nav li{
  text-align: center;
  padding: 10px;
}

.g-nav a{
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 18px;
}

.header-left img{
position: absolute;
	left:0;
width:80%;
	height: 40vw;
	object-fit: cover;
	
	z-index: 100;
}


.header-right{
	position: absolute;
	right: 0%;
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
width:60%;
height: 50vw;
	background:#2B2A2A;
	z-index: 99;
}


.header-right-menu{
	width:40%;
	height: 50vw;
	position:absolute;
	top:20%;
	right:0%;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
	z-index: 101;
}


.header-right-menu p{
	margin-top: -50px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.header-right-menu h1{
	position: relative;
	margin-top: -10px;
	font-size: 58px;
	letter-spacing: 1px;
	line-height: 1.2em;
	color: white;
}

.header-right-menu h1:after{
content:"・";
	position: absolute;
	right:0%;
	bottom:-7%;
	color: white;
}

.about{
	position: relative;
	width:80%;
	padding: 100px 0px 100px 30px;
	margin: auto;
background-image: url("image/home-about.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	z-index: 101;
}

.about-menu{
width:50%;
padding: 50px;
background: white;
	opacity: .8;
	z-index: 101;
}

.about-menu a{
	margin-top: -50px;
	padding: 5px 20px;
width:auto;
	background:black;
	text-decoration: none;
	color:white;
	font-weight: bold;
	z-index: 101;
}

.works-culture{
	width:100%;
	position: relative;
	top:-100px;
	
	padding: 100px 0px 50px 0px;
	background:#E7E2E2;
	z-index: 100;
}

.works-culture-menu{
	width:85%;
display: flex;
justify-content: center;
align-items: flex-start;
margin: auto;
	z-index: 99;
}

.works-culture-menu a{
		padding: 5px 20px;
width:auto;
	background:black;
	text-decoration: none;
	color:white;
	font-weight: bold;
}

.works-culture-menu article{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
margin: 20px;
}

.works-culture-menu img{
	width:100%;
	height: 20vw;
	object-fit: cover;
}

.LATEST-TOPICS{
width:85%;
	margin: auto;
	display: flex;
}

.LATEST-TOPICS-title{
	width:70%;
display: flex;
justify-content: flex-start;
margin-top: -50px;
}

.LATEST-TOPICS-menu{
	width:100%;
display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.LATEST-TOPICS-menu a{
text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color:black;
}

.LATEST-TOPICS-menu a span{
color:#E1D8D8;
}

#read-more{
	padding: 5px 20px;
width:max-content;
	background:black;
	text-decoration: none;
	color:white;
	font-weight: bold;
}

.topics{
		width:100%;
	}

.topics li{
	padding: 10px 0px;
	
	list-style: none;
border-bottom: solid 2px #D7C8C9;
}

.CONTACT-back{
	width:100%;
	padding: 40px 0px;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	background:#E7E2E2; 
}

.CONTACT-box{
	width:85%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.CONTACT-menu{
width:45%;
	margin-right:40px;
	display: flex;
	flex-direction: column;	
}

.CONTACT-menu p{
font-size:15px;	
letter-spacing: 1px;
}

.CONTACT-menu #read-more{
margin-top: 20px;	
}

.CONTACT-img{
	width:55%;
	margin-left:40px;
	display: flex;
	justify-content: flex-end;
}


.CONTACT-img img{
	width:100%;
}

.about_us{
	position: relative;
	display: flex;
	width: 100%;
	height:35vw;
	margin: auto;
	background:white;
	z-index: 200;
}

.about_us-left img{
position: absolute;
	left:0;
width:80%;
	height:30vw;
	object-fit:cover;
	object-position: 100% 30%;
	z-index: 100;
}


.about_us-right{
	position: absolute;
	right: 0%;
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
width:60%;
height: 35vw;
	background:#2B2A2A;
	z-index: 99;
}


.about_us-right-menu{
	width:30%;
	height:auto;
	position:absolute;
   top:10%;
	right:0%;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: flex-start;
	z-index: 102;
}

.about_us-right-menu h1{
	position: relative;
	margin-top: 10px;
	font-size:2.4em;
	font-weight:bold;
	letter-spacing: 1px;
	line-height: 1.2em;
	color: white;
}

.about_us-right-menu p{
	margin-top: -20px;
	font-size: 16px;
	font-weight: 300;
	color: white;
}

.about_us-right-menu h1:after{
content:"";
}

.company-wrap{
	width:80%;
	display: flex;
	flex-direction: column;

	margin: auto;
}

.visition{
width:auto;
margin-top: 100px;
}

.visition-menu{
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.CEO-MESSAGE{
	width:60%;
	margin-top: 200px;
	position: relative;
display: flex;
	flex-direction: column;
}

.message-menu{
padding: 100px 80px;
background:#D8D8D8;
}

.CEO-MESSAGE img{
	position: absolute;
	top:-100px;
	left:-300px;
	width:100%;max-width: 330px;
	object-fit: none;
	object-position: 50% 50%;
}

.information{
	width:90%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.information-title{
	width:100%;
	border-bottom:solid 2px #E1DDDD;
	margin: auto;
}

.information-menu{
	width:80%;
}

.information-nav{
margin-top: 0px;
}

 .information-nav li{
list-style: none;
padding: 5px 0px;
border-bottom:solid 2px #E1DDDD;
}

.company{
	display: flex;
}

.company:nth-child(even){
 flex-direction:row-reverse;
}


@media screen and (max-width:768px){
.header{
	width: 100%;
	height:130vw;
}	
	
.header-left img{
width:80%;
	height: 100vw;
	object-fit: cover;
	object-position:60%;
	z-index: 100;
}
	
.header-right{
width:60%;
height: 120vw;
}
	
	.header-right-menu{
		width:40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
.header-right-menu p{
	margin-left: -50px;
	font-size: 15px;
	font-weight: bold;
}

.header-right-menu h1{
	margin-top: 0px;
	margin-left:-70px;
	
	font-size: 45px;
}
	
	.about{
		padding: 30px 0px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
.about-menu{
width:65%;
	}
	
.works-culture-menu{
	width:95%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	}
	
	.works-culture-menu img{
	width:70%;
	height: 35vw;
	object-fit: cover;
}
	
.LATEST-TOPICS{
width:95%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
	
	.LATEST-TOPICS-menu{
	width:100%;
display: flex;
	flex-direction: column;
	align-items: flex-start;
}
	
	.topics{
		width:100%;
		margin-left: -40px;
	}
	
	.topics li{
		width:95%;
	}
	
	.CONTACT-back{
		width:100%;
	justify-content:flex-start;
	}
	
	.CONTACT-box{
	width:80%;
	display: flex;
		flex-direction:column-reverse;
	justify-content: center;
}
	
	.CONTACT-img{
		margin: 0;
	width:85%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	
	.CONTACT-menu{
		margin: 0;
	width:85%;
	}
	
	.about_us{
	width: 100%;
	height:130vw;
}	
	
.about_us-left img{
width:70%;
	height: 55vw;
	object-fit:none;
	object-position:50% 25%;
	z-index: 100;
}
	
.about_us-right{
width:60%;
height: 65vw;
}
	
	.about_us-right-menu{
		width:40%;
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
	}
	
	.about_us-right-menu h1{
	margin-top: 0px;
	font-size:2.4em;
}
	
.about_us-right-menu p{
	font-size: 16px;
	font-weight: bold;
}
	
	.company-wrap{
	width:95%;
	}
	
	.visition{
		margin-top: -100px;
	}
	
	.CEO-MESSAGE{
	width:70%;
	}
	
	.message-menu{
padding:80px 30px;
}
	
	.CEO-MESSAGE img{
	width:280px;
		position: absolute;
	top:-100px;
	left:-120px;
	object-fit:none;
	object-position: 45% 55%;
	}
	
	.information{
	width:95%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.information-title{
	width:100%;
		margin: auto;
}

.information-menu{
	width:100%;
}
	
.information iframe{
width:95%;
height: 400px;
	}

}


@media screen and (max-width:376px){
	.header{
		height: 180vw;
	}	

.header-left img{
width:70%;
	height: 160vw;
	object-fit:none;
	object-position:50% 20%;
	z-index: 100;
}
	
.header-right{
width:60%;
height: 170vw;
}
	
	.header-right-menu{
		width:60%;
		position: absolute;
		top:20%;
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
	}
	
	.header-right-menu h1{
font-weight: 700;
	margin-top: 0px;
	font-size:3.5em;
}
	
.header-right-menu p{
	margin-left: -70px;
	font-size: 1.2em;
	margin-top: -40px;
	font-weight: bold;
}
	.drawer{
		position: fixed;
		right: 8%;
	}
	
	#drawer-open span{
	width:18px;
		 border-top:solid 2px;
		margin-left:-5px;
	}
	
	.drawer:after{
		font-size:10px;
	margin-left: -12px;
}
	
	.about{
		width:100%;
	}
	
	.about-menu{
width:80%;
		padding: 50px 15px;
	}	
	
	.works-culture{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items:center;
justify-content: center;
		margin: auto;
	}
	
	.works-culture-menu article{
	width:95%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-start;
	}
	
	.works-culture-menu img{
	width:95%;
	height: 35vw;
	object-fit: cover;
}
	
	.topics{
		width:100%;
		margin-left: -40px;
	}
	
	.topics li{
		width:95%;
	}
	
	.CONTACT-box{
	width:100%;
	}
	
.about_us-left img{
width:70%;
	height: 100vw;
	object-fit:none;
	object-position:50% 5%;
	z-index: 100;
}
	
.about_us-right{
width:60%;
height: 110vw;
}
	
	.about_us-right-menu{
		width:80%;
		position: absolute;
		top:20%;
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
	}
	
	.about_us-right-menu h1{
	margin-top: 0px;
	font-size:2.8em;
}
	
.about_us-right-menu p{
	font-size: 16px;
	margin-top: -40px;
	font-weight: bold;
}

	.company{
	display: flex;
		flex-direction: column;

}

.company:nth-child(even){
 flex-direction:column;
}

	.company-wrap{
	width:100%;
	display: flex;
	flex-direction: column;

	margin: auto;
}

.visition{
width:auto;
margin-top: 50px;
}

.visition-menu{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.CEO-MESSAGE{
	width:90%;
	margin: auto;
	margin-top: 200px;
	position: relative;
display: flex;
	flex-direction: column;
}

.message-menu{
padding: 50px 30px;
}

.CEO-MESSAGE img{
	position: absolute;
	top:-120px;
	left:-20px;
	width:100%;max-width: 330px;
	object-fit: none;
	object-position: 50% 50%;
}

.information{
	width:95%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.information-title{
	width:100%;
	border-bottom:solid 2px #E1DDDD;
	margin: auto;
}

.information-menu{
	width:95%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
}

.information-nav{
	width: 90%;
margin-top: 0px;
}

 .information-nav li{
list-style: none;
padding: 5px 0px;
margin-left:-45px;
border-bottom:solid 2px #E1DDDD;
}

.information iframe{
width:95%;
height: 400px;
	}
}

	
